body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 20px;
  transition: background-color 0.5s;
}

main {
  max-width: 500px;
  margin: auto;
  background: rgb(213, 147, 147);
  padding: 20px;
  border-radius: 10px;
  border-color : black;
  border-width: 5rem;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.correct {
  background-color: #c8e6c9;
}

#error-message {
  color: red;
}

.success {
  color: green;
  font-weight: bold;
}
